# --- Environment Files ---
.env

# --- Terraform ---
*.tfstate
*.tfstate.backup
.terraform/
.terraform.lock.hcl
crash.log
*.tfplan
*.plan
terraform.tfvars

# --- Azure ---
azureProfile.json
azureProfile.json.backup
accessTokens.json
subscriptions.json

notes/
tests/

# --- Soluzioni Esercizi ---
terraform-docker/esercizio-01-a/
terraform-docker/esercizio-01-b/
terraform-docker/esercizio-02-a/
terraform-docker/esercizio-02-b/
terraform-docker/esercizio-02-c/

terraform-azure/esercizio-01-a/
terraform-azure/esercizio-02/
terraform-azure/esercizio-03/